@import url(./__item/photo-grid__item.css);

.photo-grid {
    margin: 0 -100px 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 16px;

}