.places {
    list-style: none;
    color: white;
    padding: 0 100px 12px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .places {
        padding: 0 48px 12px;
    }
}

@media screen and (max-width: 768px) {
    .places {
       padding: 0 24px 16px; 
    }
}

@media screen and (max-width: 425px) {
    .places {
        padding: 0 0 16px;
    }
}