@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    padding: 0 148px 92px;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 0 0 88px;
    }
}

@media screen and (max-width: 425px) {
    .lead {
        padding: 0 0 64px;
    }
}