@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link-text/header__lang-link-text.css);
@import url(./__logo/header__logo.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 48px 56px;
}