.footer__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.12;
    color: white;
    text-decoration: none;
    margin-right: 18px;
    transition: opacity 0.5s linear;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 425px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
        margin-bottom: 32px;
        margin-right: 0;
        display: block;
    }
}
