.lead__title {
    max-width: 720px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: white;
    margin: 0 0 32px;
}

@media screen and (max-width: 700px) {
    .lead__title {
        max-width: 93.75%;
        font-size: 60px;
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 1.1;
        margin-bottom: 16px;
    }
}