.cover__title {
    max-width: 560px;
    text-align: center;
    margin:0 0 32px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: white;
}

@media screen and (max-width: 700px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
        margin-bottom: 16px;
    }
}